---
import PbImage from "./PbImage.astro";
const { offre } = Astro.props;
//onsole.log({offre});

---

<article class="rounded-lg p-4 shadow-sm rounded-full">
  <PbImage record={offre} recordImage={offre.images} />
  <h2 class="text-lg font-semibold">{offre.nom_maison}</h2>
  <button
    class="mt-2 px-2 py-1 text-xs rounded-md border
         transition
         {offre.favori
           ? 'bg-yellow-200 border-yellow-400 text-yellow-900'
           : 'bg-gray-100 border-gray-300 text-gray-600'}"
  >
    {offre.favori ? "⭐ Favori" : "☆ ajouter aux favoris"}
  </button>
  <a href={`/offres/${offre.id}`} class="text-blue-600 underline">
    Voir plus
  </a>
</article>
